module varnishpol 1.0;

require {
	type varnishd_t;
	class capability { fowner chown };
}

#============= varnishd_t ==============
allow varnishd_t self:capability { fowner chown };
